<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("C:/Users/Hp/Documents/Flatiron/Phase 3/Flatiron_Phase_3/Notes/Statistical Learning Theory/student-mat.csv")

In [8]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
# changing categorical data into numerical data 

df_encoded = pd.get_dummies(df,drop_first=True)
print(df_encoded)

     age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  \
0     18     4     4           2          2         0       4         3
1     17     1     1           1          2         0       5         3
2     15     1     1           1          2         3       4         3
3     15     4     2           1          3         0       3         2
4     16     3     3           1          2         0       4         3
..   ...   ...   ...         ...        ...       ...     ...       ...
390   20     2     2           1          2         2       5         5
391   17     3     1           2          1         0       2         4
392   21     1     1           1          1         3       5         5
393   18     3     2           3          1         0       4         4
394   19     1     1           1          1         0       3         2

     goout  Dalc  ...  guardian_mother  guardian_other  schoolsup_yes  \
0        4     1  ...                1               0              1
1        3     1  ...                0               0              0
2        2     2  ...                1               0              1
3        2     1  ...                1               0              0
4        2     1  ...                0               0              0
..     ...   ...  ...              ...             ...            ...
390      4     4  ...                0               1              0
391      5     3  ...                1               0              0
392      3     3  ...                0               1              0
393      1     3  ...                1               0              0
394      3     3  ...                0               0              0

     famsup_yes  paid_yes  activities_yes  nursery_yes  higher_yes  \
0             0         0               0            1           1
1             1         0               0            0           1
2             0         1               0            1           1
3             1         1               1            1           1
4             1         1               0            1           1
..          ...       ...             ...          ...         ...
390           1         1               0            1           1
391           0         0               0            0           1
392           0         0               0            0           1
393           0         0               0            0           1
394           0         0               0            1           1

     internet_yes  romantic_yes
0               0             0
1               1             0
2               1             0
3               1             1
4               0             0
..            ...           ...
390             0             0
391             1             0
392             0             0
393             1             0
394             1             0

[395 rows x 42 columns]

In [10]:
df = df_encoded
df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,1,0,0,0,1,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,0,1,0,0,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,1,0,1,0,1,0,1,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,1,0,0,1,1,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,0,0,0,1,1,0,1,1,0,0

In [11]:
# define x and y 

x = df.drop("G3",axis=1)
y = df["G3"]

In [13]:
# split the data into training and testing 

from sklearn.model_selection import train_test_split

In [14]:
# This is basically what model validation is 

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20, random_state=42)

In [17]:
# now we train the model 

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [18]:
model.coef_

array([-0.11592662,  0.08631677, -0.16737768,  0.08859282, -0.00774276,
       -0.28578115,  0.31496242, -0.02022574,  0.18985939, -0.18550918,
        0.05390572,  0.04402694,  0.05559269,  0.2116987 ,  0.95777208,
        0.09381411,  0.3744096 ,  0.08261237, -0.00877173, -0.14039393,
       -0.4632439 , -0.23719518, -0.0516432 ,  0.09915197,  0.4812421 ,
        0.20644054, -0.29476201, -0.06829101, -0.61190072,  0.30497262,
       -0.22169394,  0.09530352, -0.1492908 ,  0.78565167,  0.20365619,
        0.06722228, -0.51749961, -0.23686146,  0.3753768 , -0.16820426,
       -0.39035251])

In [19]:
model.intercept_

# this is the base value when you have a 0 and all the variables are constant.

-1.9970238353909995

In [22]:
# Evaluate the model 

from sklearn.metrics import r2_score, mean_squared_error
import numpy as np 

y_pred = model.predict(x_test)
mse = mean_squared_error (y_test,y_pred)
rsme = np.sqrt(mse)

r2 = r2_score(y_test,y_pred)

print(mse)
print(rsme)
print(r2)

5.65664283323122
2.3783697847961363
0.7241341236974023

In [24]:
# check for over fitting 
r2_train = model.score(x_train, y_train)
r2_test = model.score(x_test,y_test)

In [25]:
print(r2_train)

0.8655977464052783

In [26]:
print(r2_test)

0.7241341236974023